<div class="nested-fields">
  <h3>Contact</h3>
  <div class="form-group">
    <%= f.label :contact_no %>
    <%= f.text_field :contact_no, class: "form-control" %>
  </div>
  <%= link_to_remove_association "Remove Contact", f, class: 'btn btn-danger' %>
</div>