<div class="btn btn-info">
  <%= link_to "Manage Mainfield", main_fields_path, :class => "btn" %>
</div>
<div class="btn btn-info">
  <%= link_to "Manage Subfield", sub_fields_path, :class => "btn" %>
</div>
