/*
 *= require font-awesome
 *= require resumes
 *= require sidebar
 *= require business_template1
 *= require resume_template1
 */

@import "bootstrap";
@import "font-awesome.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body, html {
  margin: 0px;
  padding: 0px;
  background: rgb(255, 255, 255);
}

@media (min-width: 1200px) {
  .container{
      max-width: 970px;
  }
}

.navbar-nav>li {
  padding-left: 30px;
  padding-right: 30px;
}

.message {
  color: red;
}

.thead {
  background-color: #406e9a;
  color: white;
}

.pagination{
  margin-top: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}